<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>gif generator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <script src="image.js" charset="utf-8"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <input type="textbox" id="search-term"> </input>
    <br>
    <input type="button" id="click" value="click here"></input>

     <div class="gif-img">
       <img src = "{{url}}">

     </div>
  </body>
</html>
